<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PeriodicTasks.MailLogger.MailLogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PeriodicTasks.MailLogger.MailLogSettings>
            <setting name="Schemas" serializeAs="Xml">
                <value>
                    <ArrayOfMailConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <MailConfiguration>
                            <MailServer>MailRelay</MailServer>
                            <Port>25</Port>
                            <AuthenticationRequired>false</AuthenticationRequired>
                            <UseSSL>false</UseSSL>
                            <SenderAddress>tasks@bkb.ch</SenderAddress>
                            <Recipients>
                                <MailRecipient>
                                    <DisplayName>El Chorche</DisplayName>
                                    <Address>chorche@bkb.ch</Address>
                                    <RecipientType>To</RecipientType>
                                </MailRecipient>
                            </Recipients>
                            <Events>
                                <EventConfiguration>
                                    <LoggedEventTypes>TaskStart</LoggedEventTypes>
                                    <LogConditionExpression>!Task.Success</LogConditionExpression>
                                    <LogMessageFormat>Der Task [Task.Name] ist fehlgeschlagen: [Task.Exception]</LogMessageFormat>
                                </EventConfiguration>
                            </Events>
                        </MailConfiguration>
                    </ArrayOfMailConfiguration>
                </value>
            </setting>
        </PeriodicTasks.MailLogger.MailLogSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
